<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
{{- $title := (default .Title (default .Params.meta.title)) }}
{{- if $title }}{{ $title = print $title " - " .Site.Title }}{{else}}{{$title = .Site.Title}}{{end}}
{{- $description := .Params.meta.description }}
<title>{{ $title }}</title>
{{ range .Params.meta.tags }}{{if (and .name .content) }}<meta name="{{ chomp .name}}" content="{{ chomp .content }}" />{{- end}}{{end}}
{{with $description}}<meta name="description" content="{{.}}" />{{end}}
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="/images/favicon.png" />
{{- $mainStyle := resources.Get "scss/style.scss" | toCSS | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $mainStyle.RelPermalink }}" integrity="{{ $mainStyle.Data.Integrity }}" >
<script>
    ! function(e, t, a, n, r) {
        e[n] = e[n] || [], e[n].push({
            "gtm.start": (new Date).getTime(),
            event: "gtm.js"
        });
        var g = t.getElementsByTagName(a)[0],
            m = t.createElement(a),
            s = "dataLayer" != n ? "&l=" + n : "";
        m.async = !0, m.src = "https://www.googletagmanager.com/gtm.js?id=" + r + s, g.parentNode.insertBefore(m, g)
    }(window, document, "script", "dataLayer", "GTM-5BRBXRX")
</script>
<!--[if lt IE 9]><script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script><script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->